.game-description-content {
    margin: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-description {
    display: flex;
}
.title-page {
    margin-bottom: 30px;
}

.game-image img {
    height: 400px;
    width: 600px;
    border-right: solid 1px #fff;
}
.description-header {
    display: flex;
    flex-direction: column;
    width: 500px;
    border-bottom: solid 1px #fff;
}
.game-text {
    margin-left: 30px;
}
.game-text #game-title{
    font-size: 1.5rem;
    margin: 10px 0;
}
.game-text #game-desc{
    font-size: 0.9rem;
    font-weight: 300;
}
.description-header #game-rating {
    background-color: #cc3636;
    padding: 0 3px;
    border-radius: 8px;
    font-size: 0.7rem;
    padding: 0;
    width: 40px;
}