<section class="game-description-content">
    <span class="title-page">
        <i class="material-icons">
            home    
        </i>
        | {{ game }}
    </span>
    <div class="game-description">
        <div class="game-image">
            <img src="https://1.bp.blogspot.com/-THxFd9PVWHs/YJP2l9P_KOI/AAAAAAAAMMk/odJZfF8G11Au3smkkm9iZrF6Xdd7JsbjQCLcBGAsYHQ/s1920/OUTERWILDSS.jpeg" alt="">
        </div>
        <div class="game-text">
            <div class="description-header">
                <span id="game-rating">7,5/10</span>
                <span id="game-title"> Outer wilds</span>
                <span id="game-desc"> Description here...</span>
            </div>
        </div>
    </div>
</section>