<main class="login-section">
    <form class="login-form">
        <h1>SIGN IN</h1>
        <p>Insert your account information</p>
        <div class="login-container">
            <input type="text" id="input-user-login" placeholder="User">
            <input type="password" id="input-password-login" placeholder="Password">
            <button id="btn-login" (click)="navigateToLoginHome()">Login your account</button>
        </div>
        <h2>No account? Send email to <a href="mailto:fabio@tindin.com.br">fabio@tindin.com.br</a></h2>
    </form>
</main>    
